@model IEnumerable<GridAndCloud.CoreModels.Cluster>

@{
    ViewData["Title"] = "Cluster";
}

<h1>Cluster</h1>

<div>
    <h4>Cluster</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
